#URL   https://www.kaggle.com/datasets/swathiachath/kc-housesales-data

# Predicting Property price

### Introduction

##### The dataset belongs to a real estate website in King County, the city in Washington state, USA. They want me to design a machine learning model to predict the price of houses. This dataset consisted of 21 variables and 21613 different houses.The price prediction is an important task for real estate companies because they can give customers much more service with less cost in comparison with the traditional way. Predicting price also has some advantages for the company. Firstly, it can optimize their cost since in the traditional real estate companies the price of a house was not systematic and there were no metrics to calculate error while in machine learning tasks is it. they need much more professional staff than modern companies that use machine learning. Additional to all they can give service to much more customers.They want me to built machine learning pipline base on number of bedrooms and	bathrooms, sqft_living(living square footage), sqftabove (square footage of house apart from basement )sqftbasement (square footage of the basement) ,zipcode, I will explore the data set and formulate it as supervised learning. The target is the price of a house that is why the model should be regression.

## Loding Python Library

### Loding an library that I will use later

In [ ]:
import pandas as pd 
import sklearn.model_selection
import sklearn.preprocessing
import sklearn.metrics
import sklearn.decomposition
import imblearn.over_sampling
import sklearn.linear_model
import sklearn.model_selection
import sklearn.ensemble
import sklearn.neural_network
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import numpy as np

## Loding Data Set and Exploration :

#URL   https://www.kaggle.com/datasets/swathiachath/kc-housesales-data

In [2]:
df = pd.read_csv("../datasets/kc_house_data.csv")
df = df.set_index("id")
df=df.drop("view",axis=1)

df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### In this section, I load the data set. Set the id as an index and then the number of views has dropped since the number of views is not a good variable for predicting a house. one house could be viewed many times but it does not mean that it is expencive or not.

In [3]:
print("The shape of dataset is:",df.shape)

The shape of dataset is: (21613, 19)

In [4]:
print("the columns is:",df.columns)

the columns is: Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

####  I will explane the meaning of  varabels that are not clear, sqft_living(living square footage),sqft_lot (square footage of the lot),waterfront which has view ti water front numeric ,condition how good the condition is, sqft(basement square footage of the house apart from basement), sft(basement square footage of the basement), lat(lattitude coordinate numeric), long(longitude coordinate), sqftliving15 (living room area in 2015 ), sqft lot 15 (lot size area in 2015 ), yr_built year of built and yr_renovated year of renovation that later I replace the with the age of house and age of renovation.

### Explicit missing values :

In [5]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

#### Understood all explicit missing values by isnull.sum method.  All columns are  zero so there are not any explicit missing values in this data set.

### Implicit missing values :

In [6]:
df["bedrooms"].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33])

#### It might not possible to house have 33 or 10 or 11 or 0 room

In [7]:
df.loc[df["bedrooms"] == 33]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,
2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,5,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [8]:
df.loc[df["bedrooms"] == 10]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,
627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,3,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,4,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,4,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745

In [9]:
df.loc[df["bedrooms"] == 11]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,
1773100755,20140821T000000,520000.0,11,3.0,3000,4960,2.0,0,3,7,2400,600,1918,1999,98106,47.556,-122.363,1420,4960

In [10]:
df.loc[df["bedrooms"] == 0]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,
6306400140,20140612T000000,1095000.0,0,0.00,3064,4764,3.5,0,3,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
3918400017,20150205T000000,380000.0,0,0.00,1470,979,3.0,0,3,8,1470,0,2006,0,98133,47.7145,-122.356,1470,1399
1453602309,20140805T000000,288000.0,0,1.50,1430,1650,3.0,0,3,7,1430,0,1999,0,98125,47.7222,-122.290,1430,1650
6896300380,20141002T000000,228000.0,0,1.00,390,5900,1.0,0,2,4,390,0,1953,0,98118,47.5260,-122.261,2170,6000
2954400190,20140624T000000,1295650.0,0,0.00,4810,28008,2.0,0,3,12,4810,0,1990,0,98053,47.6642,-122.069,4740,35061
2569500210,20141117T000000,339950.0,0,2.50,2290,8319,2.0,0,3,8,2290,0,1985,0,98042,47.3473,-122.151,2500,8751
2310060040,20140925T000000,240000.0,0,2.50,1810,5669,2.0,0,3,7,1810,0,2003,0,98038,47.3493,-122.053,1810,5685
3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,3,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050
7849202190,20141223T000000,235000.0,0,0.00,1470,4800,2.0,0,3,7,1470,0,1996,0,98065,47.5265,-121.828,1060,7200
7849202299,20150218T000000,320000.0,0,2.50,1490,7111,2.0,0,3,7,1490,0,1999,0,98065,47.5261,-121.826,1500,4675
9543000205,20150413T000000,139950.0,0,0.00,844,4269,1.0,0,4,7,844,0,1913,0,98001,47.2781,-122.250,1380,9600
1222029077,20141029T000000,265000.0,0,0.75,384,213444,1.0,0,3,4,384,0,2003,0,98070,47.4177,-122.491,1920,224341
3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,1,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

#### It is possible to have a big property that has 33 or 11 or 10 rooms because the square of the property are big as well.

In [11]:
df["bathrooms"].unique()

array([1.  , 2.25, 3.  , 2.  , 4.5 , 1.5 , 2.5 , 1.75, 2.75, 3.25, 4.  ,
       3.5 , 0.75, 4.75, 5.  , 4.25, 3.75, 0.  , 1.25, 5.25, 6.  , 0.5 ,
       5.5 , 6.75, 5.75, 8.  , 7.5 , 7.75, 6.25, 6.5 ])

#### The number of bathrooms is weird since the number of bathrooms by itself does not affect the price of the property so I decided to remove it.

In [12]:
df=df.drop("bathrooms",axis=1)

In [13]:
df["sqft_lot"].unique()

array([ 5650,  7242, 10000, ...,  5813,  2388,  1076])

In [14]:
df["sqft_lot"].unique()

array([ 5650,  7242, 10000, ...,  5813,  2388,  1076])

In [15]:
df["floors"].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

#### It is possible to have a half floor so there is not missing values.

In [16]:
df["condition"].unique()

array([3, 5, 4, 1, 2])

In [17]:
df["grade"].unique()

array([ 7,  6,  8, 11,  9,  5, 10, 12,  4,  3, 13,  1])

In [18]:
df["sqft_above"].unique()

array([1180, 2170,  770, 1050, 1680, 3890, 1715, 1060, 1890, 1860,  860,
       1430, 1370, 1810, 1980, 1600, 1200, 1250, 2330, 2270, 1070, 2450,
       1710, 1750, 1400,  790, 2570, 2320, 1190, 1510, 1090, 1280,  930,
       2360,  890, 2620, 2600, 3595, 1570,  920, 3160,  990, 2290, 2165,
       1640, 1000, 2130, 2830, 2250, 2420, 3250, 1850, 1590, 1260, 2519,
       1540, 1110, 1770, 2720, 2240, 3070, 2380, 2390,  880, 1040,  910,
       3450, 2350, 1900, 1010,  960, 2660, 1610,  765, 3520, 1290, 1960,
       1160, 1210, 1270, 1440, 2190, 2920, 1460, 1170, 1240, 3140, 2030,
       2310,  700, 1080, 2520, 2780, 1560, 1450, 1720, 2910, 1620, 1360,
       2070, 2460, 1390, 2140, 1320, 1340, 1550,  940, 1380, 3670, 2370,
       1130,  980, 3540, 2500, 1760, 1030, 1780, 3400, 2680, 1670, 2590,
        820, 1220, 2440, 2090, 1100, 1330, 1420, 1690, 2150, 1910, 1350,
       1940,  900, 1630, 2714,  850, 1870, 1950, 2760, 2020, 1120, 1480,
       1230, 2280, 3760, 3530,  830, 1300, 2740, 1830,  720, 2010, 3360,
        800, 1730,  760, 1700, 4750, 5310,  580, 2653, 2850, 2210, 2630,
       3500, 1740, 1140, 2160, 2650,  970, 2040, 2180, 2220, 1660, 3370,
       2690, 1930, 3150, 3030, 2050, 2490, 2560, 1275, 2580,  560, 1820,
       1840, 2990, 3230, 1580, 3480, 2510, 1410, 2120, 3300, 3840, 1500,
       1530, 2840,  833, 2000, 6070,  950, 2200, 4040, 1920, 1490, 3470,
       3130, 2610, 3260, 2260,  430, 3390,  630, 4860, 3860, 2810,  870,
       3180, 2770, 4030, 4410, 2400, 1520, 3040, 6050, 4740, 1970, 5403,
       3350, 3580, 1790,  750, 2860, 2750, 2340, 2870, 4120, 3200, 2550,
       1805, 4150, 1384, 2060, 2110, 3590, 2100, 2540, 1880, 1150, 1470,
       1255, 1800, 4370, 3190, 2730, 4570, 2470,  670, 2900, 4670, 4230,
       2156, 1020, 2940, 2640, 2710, 3100, 3610, 4270,  840, 3090, 2300,
        380, 2480, 3460, 3060, 3064, 3000, 1654, 2790, 1310, 2230, 2430,
       3680, 2670, 2208,  810,  740, 1422,  490, 2080, 3440, 5670, 4475,
        730, 3410, 3010,  600, 2960, 3570, 4300, 3990,  780, 3020, 5990,
        440, 4460, 4190, 2800, 2530, 1650, 3690, 2932, 3720, 4250, 3110,
       2963, 4930, 2950, 5000, 2452, 2820, 1981,  640, 2495, 2403, 5320,
       6720,  660, 2341, 4210, 3830, 3280, 2980, 5153, 1990, 1646,  610,
        710, 5450, 3504, 3210, 1782, 2930,  590, 4280,  680, 3880, 3430,
       3750, 4130, 5710, 3380, 3330, 4700, 3220, 3362, 3510, 3810,  620,
       4490, 2410, 3050, 1008, 3488, 4070, 3420, 5770, 1605,  520, 1088,
       3555, 4360, 3960, 2700, 4340, 1552, 3850, 2303, 3270, 4350, 3640,
       2174, 4160, 2496, 5180, 5130, 6350, 3770, 2153, 3780, 2890, 1714,
       2201, 2970,  992, 3950, 3527, 2835, 3915, 1427, 4870, 3340, 3620,
       4310, 3930, 4080, 5400,  570, 3310, 6110, 3320, 3490, 3859, 3710,
       1798, 4600, 3560, 3940, 3600, 3800, 1105, 2305, 3290, 5050, 1556,
       1553, 4000, 1657, 3001, 4220,  480, 3120, 3740,  530, 3700, 5230,
       5370, 3080, 4140, 4430, 3550, 1159, 1288, 2880, 4610, 1122, 3052,
       1479, 7680, 3820, 1934, 5080, 2675, 2506, 5760, 2154, 4390, 3240,
       1995, 1689, 2782, 2395, 4400, 6200, 3526, 4320, 2483, 4380, 4580,
       4180, 2064, 3650, 1726, 2019, 4240, 1256,  500, 1355, 1747, 1678,
       1833, 1414, 4115, 3597, 3170,  390, 1976, 5830, 2601, 3920, 2641,
       5070, 2518, 3910, 3660, 3695, 4020, 2803, 2074, 2038, 4060, 4890,
       2329, 1264, 1095,  690, 4090, 1392, 2844,  902, 4560, 2811, 4720,
       2168, 5610, 2683, 4900, 2095, 4290, 4050, 4260, 4440, 6220, 1175,
        998, 2356, 4500, 3900, 3831, 1315, 4470, 4810, 2286, 2927, 4760,
       8570, 5140, 1679, 1811, 2849, 1676, 1757, 3730, 2441, 2163, 5250,
       2795, 2415, 3970, 4200, 1068, 5240, 1509, 1954, 4820, 1651, 4100,
       1752, 3630, 2885, 3154, 1129, 2632, 1996, 4010,  550,  410, 6430,
       3790, 2031, 1652, 2434, 3316, 1899, 2331, 2497, 2216, 4170, 1341,
       1961, 5584, 8860, 2507, 5220, 4850, 5844, 5530, 2145,  650, 1982,
       4910, 3605, 1778, 1463, 2783, 1946, 1358, 3870, 1864, 1845, 6290,
       3980, 2382, 2979, 3674, 2726, 5440, 1295, 2115, 6085, 3265, 3136,
       6640, 4620, 3361, 2245, 2242, 1078, 2577, 1329,  420, 4330, 1975,
       7420, 1788, 2299, 1092, 4225, 1087, 1904,  470, 2966, 2192, 2253,
       5550, 4133, 4285, 1216,  540, 9410, 2075, 5330, 2166, 1628, 1808,
       1352, 2557, 6380, 7880, 2734, 1363, 1769, 2093, 1677, 2588, 5190,
       2298, 1491, 2961, 5020, 5980, 4540,  844, 6120, 2233, 4480, 4110,
       4770, 2473,  995, 5160, 1494, 2007, 1048, 3002, 4780, 2155, 2014,
       4980, 2665, 4830, 4790, 5010,  370, 2105, 3006, 3004, 2689, 4660,
       1746, 2678, 2755, 2414,  901, 4630, 2068, 2807, 2643, 2181, 4510,
       4420, 1604, 1435, 3045, 2717, 2905, 4940, 5110, 2533, 6660, 3485,
       2659, 5090, 2375, 1964,  866, 1595,  944, 5480,  809, 5040, 1764,
       1656, 1802,  460, 2692, 1544, 2044, 1212, 4083, 8020, 3905, 1502,
       4590,  384, 2092, 6090, 1615, 7320, 1396, 1484, 1765, 5490, 1453,
       1643, 5300, 1381, 4065,  290, 1313, 5430, 1397, 2793, 2475, 1936,
       3028,  798, 2575, 3276, 1584, 2393, 2029, 3222, 1072, 1785, 1984,
        962, 2423, 2052, 2538, 2437, 2789, 2906, 4800, 7850, 2196, 1847,
       2658, 2655, 3855, 1728,  963, 2223, 1611, 2015, 2448, 1489, 1116,
       3745, 1002, 3202, 1347, 1481, 2311, 2544, 2584, 2217, 3569, 3181,
       1921, 2612, 2671, 2598, 3284, 3266, 1076, 2594, 2718, 1794, 2481,
       3845, 1413, 1876, 3148, 2413, 1767, 5060,  806, 2547, 1834, 2024,
       1165, 2134, 1741, 2798, 1852, 2099, 3216, 1094, 2891, 2432, 2283,
       2701, 1658,  893, 2009, 1444, 2744, 3078, 3065, 1578, 2815, 4960,
       1571, 6530, 4640, 1536, 3172, 6370, 3223, 1608, 2229, 3135, 1408,
       1763, 4840, 1232, 2502, 2424, 1296, 1914,  988, 3828, 3056, 2267,
       1131, 2796, 1812, 1084, 2025, 1564, 1239, 2568, 1528, 2628, 2185,
       2478, 2669, 1912, 2828, 2425, 1446, 3206, 2406, 1419, 2056, 1144,
       2456, 4950, 3192,  828, 2529, 2732, 1987, 3906, 4073, 2578, 2738,
       3691, 1061, 2846, 2542, 1889, 3336, 3236, 1451, 1983, 2313, 1824,
       1322, 1766, 2301, 3274, 1108, 2864, 2716, 1572, 3281, 2656, 2398,
       1867, 1613, 2587, 2623,  894, 1606, 2244, 2026, 2238, 2517, 2708,
       2555, 1405, 4450, 1248, 6420, 2531, 1333, 2198, 3087, 3118, 1425])

In [19]:
df["sqft_basement"].unique()

array([   0,  400,  910, 1530,  730, 1700,  300,  970,  760,  720,  700,
        820,  780,  790,  330, 1620,  360,  588, 1510,  410,  990,  600,
        560,  550, 1000, 1600,  500, 1040,  880, 1010,  240,  265,  290,
        800,  540,  380,  710,  840,  770,  480,  570, 1490,  620, 1250,
       1270,  120,  650,  180, 1130,  450, 1640, 1460, 1020, 1030,  750,
        640, 1070,  490, 1310,  630, 2000,  390,  430,  850,  210, 1430,
       1950,  440,  220, 1160,  860,  580, 2060, 1820, 1180,  200, 1150,
       1200,  680,  530, 1450, 1170, 1080,  960, 1100,  280,  870,  460,
       1400, 1320,  660, 1220,  900,  420, 1580, 1380,  475,  690,  270,
        350,  935, 1370,  980, 1470,  160,  950,   50,  740, 1780, 1900,
        340,  470,  370,  140, 1760,  130,  610,  520,  890, 1110,  150,
       1720,  810,  190, 1290,  670, 1800, 1120, 1810,   60, 1050,  940,
        310,  930, 1390, 1830, 1300,  510, 1330, 1590,  920, 1420, 1240,
       1960, 1560, 2020, 1190, 2110, 1280,  250, 2390, 1230,  170,  830,
       1260, 1410, 1340,  590, 1500, 1140,  260,  100,  320, 1480, 1060,
       1284, 1670, 1350, 2570, 2590, 1090,  110, 2500,   90, 1940, 1550,
       2350, 2490, 1481, 1360, 1135, 1520, 1850, 1660, 2130, 2600, 1690,
        243, 1210, 2620, 1024, 1798, 1610, 1440, 1570, 1650,  704, 1910,
       1630, 2360, 1852, 2090, 2400, 1790, 2150,  230,   70, 1680, 2100,
       3000, 1870, 1710, 2030,  875, 1540, 2850, 2170,  506,  906,  145,
       2040,  784, 1750,  374,  518, 2720, 2730, 1840, 3480, 2160, 1920,
       2330, 1860, 2050, 4820, 1913,   80, 2010, 3260, 2200,  415, 1730,
        652, 2196, 1930,  515,   40, 2080, 2580, 1548, 1740,  235,  861,
       1890, 2220,  792, 2070, 4130, 2250, 2240,  894, 1990,  768, 2550,
        435, 1008, 2300, 2610,  666, 3500,  172, 1816, 2190, 1245, 1525,
       1880,  862,  946, 1281,  414, 2180,  276, 1248,  602,  516,  176,
        225, 1275,  266,  283,   65, 2310,   10, 1770, 2120,  295,  207,
        915,  556,  417,  143,  508, 2810,   20,  274,  248])

In [20]:
df["zipcode"].unique()

array([98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039])

In [21]:
df["yr_built"].unique()

array([1955, 1951, 1933, 1965, 1987, 2001, 1995, 1963, 1960, 2003, 1942,
       1927, 1977, 1900, 1979, 1994, 1916, 1921, 1969, 1947, 1968, 1985,
       1941, 1915, 1909, 1948, 2005, 1929, 1981, 1930, 1904, 1996, 2000,
       1984, 2014, 1922, 1959, 1966, 1953, 1950, 2008, 1991, 1954, 1973,
       1925, 1989, 1972, 1986, 1956, 2002, 1992, 1964, 1952, 1961, 2006,
       1988, 1962, 1939, 1946, 1967, 1975, 1980, 1910, 1983, 1978, 1905,
       1971, 2010, 1945, 1924, 1990, 1914, 1926, 2004, 1923, 2007, 1976,
       1949, 1999, 1901, 1993, 1920, 1997, 1943, 1957, 1940, 1918, 1928,
       1974, 1911, 1936, 1937, 1982, 1908, 1931, 1998, 1913, 2013, 1907,
       1958, 2012, 1912, 2011, 1917, 1932, 1944, 1902, 2009, 1903, 1970,
       2015, 1934, 1938, 1919, 1906, 1935])

In [22]:
df["yr_renovated"].unique()

array([   0, 1991, 2002, 2010, 1999, 1992, 2013, 1994, 1978, 2005, 2008,
       2003, 1984, 1954, 2014, 2011, 1974, 1983, 1945, 1990, 1988, 1957,
       1977, 1981, 1995, 2000, 1998, 1970, 1989, 2004, 1986, 2009, 2007,
       1987, 1973, 2006, 1985, 2001, 1980, 1971, 1979, 1997, 1950, 1969,
       1948, 2015, 1968, 2012, 1963, 1951, 1993, 1962, 1996, 1972, 1953,
       1955, 1982, 1956, 1940, 1976, 1946, 1975, 1958, 1964, 1959, 1960,
       1967, 1965, 1934, 1944])

In [23]:
df["lat"].unique()

array([47.5112, 47.721 , 47.7379, ..., 47.3906, 47.3339, 47.6502])

In [24]:
df["long"].unique()

array([-122.257, -122.319, -122.233, -122.393, -122.045, -122.005,
       -122.327, -122.315, -122.337, -122.031, -122.145, -122.292,
       -122.229, -122.394, -122.375, -121.962, -122.343, -122.21 ,
       -122.306, -122.341, -122.169, -122.166, -122.172, -122.218,
       -122.36 , -122.314, -122.304, -122.11 , -122.07 , -122.357,
       -122.368, -122.157, -122.31 , -122.132, -122.362, -122.282,
       -122.18 , -122.027, -122.347, -122.016, -122.364, -122.175,
       -121.977, -122.371, -122.151, -122.301, -122.451, -122.322,
       -122.189, -122.384, -122.369, -122.281, -122.29 , -122.114,
       -122.122, -122.116, -122.149, -122.339, -122.335, -122.344,
       -122.32 , -122.297, -122.192, -122.215, -122.16 , -122.179,
       -122.287, -122.036, -122.073, -121.987, -122.125, -122.34 ,
       -122.025, -122.008, -122.291, -122.365, -122.199, -122.194,
       -122.387, -122.372, -122.391, -122.351, -122.386, -122.249,
       -122.277, -122.378, -121.958, -121.714, -122.08 , -122.196,
       -122.184, -122.133, -122.38 , -122.082, -122.109, -122.053,
       -122.349, -122.295, -122.253, -122.248, -122.303, -122.294,
       -122.226, -122.266, -122.098, -122.212, -122.244, -122.39 ,
       -122.352, -121.85 , -122.152, -122.054, -122.072, -121.998,
       -122.296, -122.299, -122.381, -122.358, -122.128, -122.171,
       -122.174, -122.026, -122.353, -121.943, -122.286, -122.336,
       -122.359, -122.162, -122.3  , -122.176, -121.996, -122.118,
       -122.193, -122.023, -122.224, -122.168, -122.231, -122.331,
       -122.374, -122.182, -122.308, -122.307, -121.999, -122.376,
       -122.2  , -122.039, -122.102, -122.188, -122.379, -122.043,
       -122.153, -122.191, -122.219, -122.312, -121.911, -121.994,
       -122.165, -122.37 , -122.158, -122.047, -122.284, -122.017,
       -122.275, -122.268, -122.367, -122.217, -122.373, -122.013,
       -122.214, -122.034, -122.164, -121.899, -122.183, -121.95 ,
       -122.324, -122.216, -122.395, -122.213, -122.345, -122.278,
       -122.111, -121.711, -122.27 , -122.178, -122.147, -121.772,
       -122.302, -122.438, -122.223, -122.042, -122.323, -122.255,
       -122.4  , -122.261, -122.071, -122.206, -122.272, -122.23 ,
       -122.144, -122.143, -122.181, -122.154, -122.311, -122.274,
       -122.077, -122.   , -122.298, -122.058, -121.837, -122.333,
       -122.057, -122.252, -122.093, -122.012, -122.052, -122.354,
       -122.22 , -122.49 , -121.875, -122.24 , -122.078, -122.173,
       -121.854, -122.222, -122.28 , -122.137, -122.159, -121.974,
       -122.141, -122.029, -121.709, -122.19 , -121.97 , -122.329,
       -122.195, -122.06 , -121.959, -122.095, -122.148, -122.146,
       -122.35 , -121.901, -122.241, -122.129, -122.289, -122.305,
       -122.022, -122.385, -121.779, -122.032, -122.402, -122.482,
       -122.227, -121.982, -122.161, -122.046, -122.156, -122.127,
       -122.33 , -122.197, -122.041, -122.103, -122.318, -122.382,
       -122.271, -121.955, -122.211, -122.262, -122.258, -122.121,
       -122.221, -122.234, -122.089, -122.123, -122.167, -121.909,
       -122.107, -122.064, -122.066, -122.062, -122.264, -122.186,
       -122.087, -121.88 , -121.864, -122.205, -122.363, -122.139,
       -122.018, -122.225, -122.285, -122.084, -122.177, -122.056,
       -122.316, -122.021, -122.348, -122.009, -122.131, -122.411,
       -122.198, -122.256, -122.117, -122.097, -122.075, -121.845,
       -122.083, -122.259, -121.87 , -122.015, -122.007, -121.86 ,
       -122.409, -121.755, -121.972, -122.251, -122.317, -121.776,
       -122.115, -122.283, -122.242, -122.001, -122.024, -122.309,
       -122.113, -121.771, -122.239, -122.273, -122.396, -122.094,
       -122.267, -122.326, -122.13 , -122.269, -121.853, -122.05 ,
       -122.346, -122.076, -121.826, -122.124, -121.758, -122.202,
       -121.785, -121.872, -122.006, -122.004, -122.321, -121.882,
       -122.101, -122.03 , -122.185, -122.1  , -121.759, -121.965,
       -122.201, -122.366, -122.313, -122.405, -122.02 , -122.279,
       -122.355, -121.934, -122.15 , -122.356, -121.993, -122.044,
       -122.134, -121.867, -122.01 , -121.991, -122.011, -121.983,
       -122.228, -122.033, -122.276, -122.119, -121.937, -122.361,
       -122.325, -122.203, -122.136, -122.237, -122.209, -122.049,
       -122.288, -122.106, -122.037, -122.207, -122.263, -121.915,
       -122.204, -122.09 , -122.069, -121.852, -121.787, -121.976,
       -122.377, -122.059, -122.383, -121.989, -122.019, -122.208,
       -121.878, -122.328, -122.25 , -122.338, -122.388, -122.265,
       -122.332, -122.399, -122.397, -122.014, -121.956, -122.092,
       -122.028, -122.293, -122.12 , -122.035, -122.14 , -122.04 ,
       -122.112, -121.906, -122.17 , -122.238, -122.512, -121.997,
       -121.89 , -122.463, -121.908, -122.086, -122.389, -121.913,
       -122.163, -121.918, -122.108, -122.502, -122.392, -122.236,
       -121.859, -121.981, -122.342, -121.96 , -121.978, -122.47 ,
       -121.91 , -121.966, -122.065, -122.246, -122.41 , -121.879,
       -122.079, -122.099, -122.187, -121.98 , -122.002, -122.138,
       -121.898, -122.235, -122.126, -121.782, -121.995, -122.401,
       -121.858, -121.888, -121.752, -122.063, -122.26 , -121.78 ,
       -121.708, -121.721, -122.403, -121.945, -122.243, -122.45 ,
       -121.927, -122.085, -122.088, -121.973, -122.055, -122.398,
       -121.984, -121.912, -121.903, -121.946, -122.232, -122.412,
       -122.104, -122.048, -122.479, -122.155, -121.833, -121.778,
       -122.003, -121.99 , -121.926, -122.051, -121.986, -122.245,
       -121.861, -122.431, -121.964, -122.142, -122.074, -122.247,
       -122.497, -121.769, -121.827, -121.979, -121.871, -122.091,
       -121.754, -121.746, -121.92 , -121.992, -122.406, -121.359,
       -121.789, -121.707, -122.068, -122.404, -122.334, -121.799,
       -121.774, -121.985, -121.865, -121.724, -122.415, -121.756,
       -121.809, -122.135, -121.691, -122.038, -121.877, -121.94 ,
       -121.968, -121.988, -121.315, -121.902, -122.514, -122.414,
       -121.883, -121.866, -121.744, -122.096, -122.061, -121.881,
       -121.745, -122.461, -122.067, -121.868, -121.646, -121.93 ,
       -122.105, -121.763, -121.718, -121.967, -121.777, -121.957,
       -121.823, -121.887, -122.408, -122.462, -122.43 , -122.456,
       -121.897, -121.932, -121.969, -121.916, -122.081, -121.975,
       -121.735, -121.801, -121.761, -121.723, -121.924, -122.475,
       -121.935, -122.407, -122.448, -122.453, -121.894, -121.936,
       -121.764, -122.416, -121.905, -122.464, -121.768, -122.484,
       -121.738, -121.9  , -121.82 , -122.455, -121.889, -122.496,
       -121.829, -122.505, -121.951, -121.847, -122.509, -121.961,
       -121.417, -121.904, -122.503, -121.949, -121.874, -122.432,
       -121.971, -121.77 , -122.473, -121.896, -121.952, -122.254,
       -121.743, -121.933, -121.892, -121.749, -121.473, -121.857,
       -122.465, -121.838, -121.954, -122.422, -121.931, -121.963,
       -122.441, -121.925, -121.352, -122.511, -122.413, -121.876,
       -121.748, -121.818, -121.8  , -121.929, -121.698, -121.886,
       -121.802, -121.81 , -121.762, -121.781, -121.775, -122.44 ,
       -121.773, -121.819, -121.726, -122.459, -122.446, -121.855,
       -121.736, -122.499, -122.46 , -121.786, -122.421, -121.947,
       -122.439, -121.834, -121.804, -122.443, -121.716, -121.848,
       -122.458, -122.515, -121.922, -121.953, -121.783, -122.472,
       -121.944, -121.869, -121.828, -122.452, -121.831, -121.737,
       -121.739, -121.863, -121.73 , -121.856, -121.747, -121.893,
       -121.733, -121.846, -121.821, -121.319, -121.765, -121.75 ,
       -122.506, -121.948, -121.921, -122.507, -122.457, -121.914,
       -122.469, -121.792, -121.907, -121.841, -121.757, -121.788,
       -121.731, -122.449, -121.316, -121.321, -122.504, -121.884,
       -121.803, -121.842, -121.719, -121.766, -122.433, -122.519,
       -121.851, -121.402, -122.454, -122.467, -121.325, -121.815,
       -121.676, -121.941, -122.445, -121.76 , -121.885, -121.742,
       -121.822, -121.895, -121.784, -121.701, -121.713, -121.727,
       -121.849, -121.835, -122.435, -122.474, -122.444, -121.939,
       -121.48 , -121.364, -121.767, -122.42 , -121.84 , -122.425,
       -122.447, -121.797, -122.491, -121.917, -121.891, -121.942,
       -121.862, -121.725, -121.873, -121.405, -122.486, -121.795,
       -121.734, -121.403])

In [25]:
df["sqft_living15"].unique()

array([1340, 1690, 2720, 1360, 1800, 4760, 2238, 1650, 1780, 2390, 2210,
       1330, 1370, 2140, 1890, 1610, 1060, 1280, 1400, 4110, 2240, 1220,
       2200, 1030, 1760, 1860, 1520, 2630, 2580, 1390, 1460, 1570, 2020,
       1590, 2160, 1730, 1290, 2620, 2470, 2410, 3625, 1580, 3050, 1228,
       2680,  970, 1190, 1990, 1410, 1480, 2730, 1950, 2250, 2690, 2960,
       2270, 2570, 2500, 1440, 2750, 2221, 1010, 3390, 3530, 1640, 1510,
       2420, 1940, 3240, 1680,  890, 1130, 3350, 2350, 1870, 1720, 1850,
       1900, 1980, 2520, 1350, 1750, 1160, 2550, 2370, 1240, 1270, 2990,
       1380, 1540, 2090, 2640, 1830, 1620, 1880, 2340, 1710, 2700, 3060,
       2660, 1700, 1970, 1420, 2060, 2480, 1550, 1170, 2820, 1560, 2230,
       2840, 1450, 1500, 3160, 1200, 3400, 2110, 2920, 1770, 1070, 1930,
       3740, 2260, 1670, 2290, 1050, 2540, 2190, 2030, 1230, 2330, 1300,
       1430, 2770, 1250, 1630, 2590, 2130, 1100, 3836, 1320, 2120, 3070,
       1910, 2080, 1960, 2280, 1150, 3430, 2070, 2600,  830, 1260, 3120,
       2010, 1660, 1600, 2380, 3890, 4180, 2653, 2670, 3920, 2300, 2310,
       2320, 3150, 1740, 2400, 4550, 2510, 2440, 2880, 3860, 2150, 1310,
       1820, 3080,  880, 2560, 3470, 1020, 2040, 2610, 1810, 2860, 3480,
       3130, 3360, 4050, 2450, 1790, 3180, 3600, 2000, 2430, 2850, 4680,
       2360, 3930, 1490, 2460, 2077, 1920, 3630, 3220, 2100, 3230, 4300,
       3850, 2424, 2530, 3030, 2830, 2900, 2950, 1470,  940, 2740, 4210,
       3340, 3980, 2180, 3715, 2050, 1080, 2095, 1000, 3330, 2170, 1408,
       1530, 2760, 3110,  950, 3000, 1307, 2220, 4190, 3440, 3250, 1110,
       2870, 1210, 2910, 1120, 4230, 1708, 3090, 3270, 2970, 1180, 3100,
       4100, 2930, 3510, 2688, 1840, 2490, 4090, 2810, 3260, 3680, 3420,
       1654, 1365,  980, 1677, 1140, 3640, 3460, 3140, 1502, 3720, 2790,
       2940,  990, 2890,  860, 4750, 1525, 3950, 5790,  760, 2234,  960,
       3210, 2780, 2800, 2305, 2665, 3620, 2710, 4320, 2650, 3370, 1509,
       1277, 1981, 2434, 4640, 2242, 3040, 3970, 3200, 4600,  840, 3290,
       2214, 1162, 3010, 5600, 3820, 3540, 1975, 4800,  740, 3990, 3170,
       1576, 1768, 3310, 2980, 1429, 3900, 3380,  820, 1090, 4060, 3910,
       3190, 3450, 3730,  620, 3020, 3760, 3320, 1132, 3300, 3770, 3960,
        870, 3560, 4620, 3520, 1572, 3490, 1088, 3159, 4470, 3570, 4890,
       3690, 3280, 2083, 3780,  920, 1941, 1566,  850, 2496, 1040, 3410,
       4240, 4670, 4350, 1714, 5380, 4330, 3830, 5000, 2144, 1494, 1357,
        930, 3580, 4250, 4080, 3660, 1458, 3736, 1894, 2037, 1295, 4170,
       3750, 3550, 4630, 1439, 3500, 2091,  900, 3880, 3710, 1616,  720,
        800, 2315, 1564, 2767, 3721, 4650, 4020,  780, 1728, 2027, 1264,
       1404, 1459, 2028, 3639, 1943, 3425, 2641, 2114, 1309, 2412, 2517,
       1802, 2011, 1466, 1414, 3193, 1845, 1156, 3670, 1696, 5340, 4440,
       1745, 1884, 4690, 4920, 2406, 4160, 3810, 4480, 2848, 1746, 2634,
       2049, 5330, 1536, 2273, 3056, 4010, 4700,  910, 2125, 1665, 2683,
       3790,  700, 1855,  750, 1078, 4150, 4340, 2344, 1098, 1175, 1188,
       3700, 3840, 4042, 2518, 3800, 2488, 3590, 2052,  810, 1528, 5030,
       4740, 5070, 2967, 4280, 2724, 3610, 3940, 4940, 4770, 1811, 4830,
       2876, 1805, 1216, 5170, 1304, 2474, 4590, 4130, 1492, 1364, 2168,
       4140, 3543, 1303, 2005, 3650, 2583, 4310, 2451, 1448, 2955, 2142,
        790, 1638, 2554, 2441, 2216, 4220, 1961, 4540,  770, 4200, 3413,
       1664, 2136, 3568, 4510, 1484, 1358, 2106, 1834, 2014, 4390, 4570,
       2175, 6110, 4260,  710, 2112, 1934, 1518, 1302, 2622, 2619, 2382,
       4290, 4560, 4000, 1336, 3112, 4070, 1468, 1571, 2605, 1138, 5110,
       4850, 2165, 4410, 1678, 5610, 1984, 4660, 3870, 4370,  460, 4610,
       1914, 3515, 2246, 1786, 2109, 2326, 2728, 4400, 4950, 1767, 2054,
       5500, 2555, 3674, 2765, 1862, 1352, 4030,  399, 2415, 2901, 1815,
       2236, 2253, 2004, 1356, 2403, 1137, 1256, 4930, 4040, 2376, 4520,
       4490, 2189, 2566, 2396, 1282, 2155, 1056, 2389, 2256, 3618, 1326,
       1168, 4913,  806, 1369, 2405, 2875, 1425, 5220, 1442, 2333, 3335,
       1321, 3045, 1546, 4730, 2697, 2822, 2076, 1757, 4780,  952, 4270,
       2075, 2667, 1092, 1217, 1716, 1792, 2961, 1125, 1463, 1886,  670,
       4460, 2336, 3557, 5200, 2258, 1377, 2019, 2092, 4900, 2615, 1639,
       1765, 1554, 1381, 4120, 5080, 1445, 2793, 2475,  998, 2384, 2575,
       1398, 1584, 2439, 2197, 2029, 4362, 1443, 4420, 1691, 2495, 2437,
       2547, 6210, 2009, 1847, 1346, 2578, 2879, 2255, 2815, 1608,  690,
       2425, 1481, 2458, 2358, 2056, 1921, 2419, 2996, 2502, 1798, 3087,
       1076, 2981, 2363, 3191, 1763, 1876, 1949, 2598, 1979, 1415, 2002,
       2574, 2166, 3726, 2099, 2154, 1522, 1544, 2912, 2648, 1658, 2755,
       2798, 1405, 2704, 2738, 3008, 2586, 2873, 1232, 2597, 2516, 1537,
       1128, 2849, 1399, 1131, 1569, 2381, 1084, 2304, 4530, 2297, 2279,
       2303, 2669, 4225, 2513, 2725, 1955, 2527, 4443, 2478, 1919, 1813,
       2533,  828, 2015, 3078, 4495, 2673, 2316, 2647, 3402, 3494, 2156,
       3236, 2612, 2323, 2409, 2354, 1285, 2616, 1427, 1516, 2456, 2844,
       1495, 2594, 2604, 1268, 2198, 3038, 2927])

In [26]:
df["sqft_lot15"].unique()

array([5650, 7639, 8062, ..., 5731, 1509, 2007])

### Handling year of built and year of renovation:

In [27]:
df["age_of_house"] = pd.DatetimeIndex(df["date"]).year - df["yr_built"] 
df=df.drop("age_of_house",axis=1)

#### By Date time index I calculate the age of the property. the drop the year of built.

In [28]:
df["age_renovate"] = pd.DatetimeIndex(df["date"]).year - df["yr_renovated"] 
df=df.drop("age_renovate",axis=1)
df=df.drop("date",axis=1)

#### same I do for year of renovate and the drop the year of renovate and date columns as well.

### set the target label:

#### Now is the time to split the feature and target label of the train set and test set. (the axis is equal to one to split by columns)

In [29]:
x = df.drop(["price"],axis=1)
y = df["price"]

In [30]:
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(x,y,train_size=.85, test_size=.15)

#### Split the data into 85% for training set and 15% for testing set.

### Standardization

In [31]:
scaler = sklearn.preprocessing.StandardScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)

x_test= scaler.transform(x_test)


print("x_train_standardized:", x_train.shape)
print("x_test_standardized:", x_test.shape)

x_train_standardized: (18371, 16)
x_test_standardized: (3242, 16)

#### Building and fitting a standardization model and scaling the training and testing features

#### SVD model is one model for reduction regression.first,building a SVD model and fit it and finally try it on training and test set.  The SVD does not gives a good performance. so I deleted this step

## Model Selection and Hyperparameter Tuning

#### Grid search is used for tunung hyperparameters and set n_job to 10, cv to 5 and the metric is R squer error

### Gradient Boosting

#### Gradient boosting is a predictive model based on a week prediction ensemble that can be used in regression models because there is no clear way to set hyperparameters and we must do it through trial and error. The number of boosting steps I chose is n_estimators. the learning rate is the rate at which the number of contributions from each tree decreases. max_depth is used to limit the depth of a node in a tree. The proportion of samples to be used for fitting the individual base learning is called a sub-sample. The random seed delivered to each tree estimator at each boosting stage can be controlled by the random stage.

In [32]:
parameters_grid = {'n_estimators':[500,1000,2000],'learning_rate':[.001,0.01,.1],
 'max_depth':[1,2,4],'subsample':[.5,.75,1],'random_state':[1,2]}

model_Gradient= sklearn.model_selection.GridSearchCV(sklearn.ensemble.GradientBoostingRegressor(),parameters_grid,
                                                     n_jobs=10, cv=5,scoring= "r2")

model_Gradient.fit(x_train,y_train)

print("R squer of best  = {:.2f}".format(model_Gradient.best_score_))
print("Best found hyperparameters = {}".format(model_Gradient.best_params_))

R squer of best  = 0.89
Best found hyperparameters = {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 1000, 'random_state': 1, 'subsample': 0.5}

### Random forest regression

#### Random forest regression is control over fitting meta estimator.                    n_estimator is the number of trees, the max _feature is for finding the best split, min_sample_split is for splitting an internal node with the fewest amount of samples, and boost_trap sample is used while generating trees.

In [33]:
parameters_grid = {"n_estimators": [10,20,30], "max_features": ["auto", "sqrt", "log2"],
                  
                   "min_samples_split": [2,4,8], "bootstrap": [True, False]
}

model_Random_forest= sklearn.model_selection.GridSearchCV(sklearn.ensemble.RandomForestRegressor(),parameters_grid,
                                                     n_jobs=10, cv=5,scoring= "r2")

model_Random_forest.fit(x_train,y_train)

print(" R squer of bestof best  = {:.2f}".format(model_Random_forest.best_score_))
print("Best found hyperparameters of = {}".format(model_Random_forest.best_params_))

 R squer of bestof best  = 0.87
Best found hyperparameters of = {'bootstrap': False, 'max_features': 'log2', 'min_samples_split': 8, 'n_estimators': 30}

### MLP regression

#### The MLP model is not efficient for this data set because I tried differently hyperparameters but still a lot of time.Also, need more powerful computers for tuning and train them but as we could see Gradient boosting gives much better result with less time. the parameters_grid is the list of parameters I tried.

In [ ]:
parameters_grid = {
    "hidden_layer_sizes":[(100),(150),(100,100),(100,150)],
    "learning_rate":["constant", "invscaling", "adaptive"],
    "batch_size":[2,5,10],
    "max_iter":[21613],
    "solver":["lbfgs", "sgd", "adam"],
    "alpha":[0.00001,0.0001,0.001],
    "random_state":[1,2]
}

model_MLP = sklearn.model_selection.GridSearchCV(sklearn.neural_network.MLPRegressor(),parameters_grid,
                                                     n_jobs=10, cv=5,scoring= "r2")

model_MLP.fit(x_train,y_train)

print("R squer of best of best MLP = {:.2f}".format(model_MLP.best_score_))
print("Best found hyperparameters of MLP = {}".format(model_MLP.best_params_))

## Model assessment:

#### The best model is Gradiant boosting with the parameters that Grid search has chosen. The R square for that model was 89 so in the model assessment section, the y_predict is calculated to understand the efficiency of our model the reason that I chose R square is that it is easy to understand and it means the calculation of the ratio of the dependent variable's variability that the model can account for. Also, I calculated the mean squared error as the second metric, which means calculating the digression of the model prediction from the actual amount.

In [36]:
y_predicted = model_Gradient.predict(x_test)


r2 = sklearn.metrics.r2_score(y_test, y_predicted)


mean_squared_error = sklearn.metrics.mean_squared_error(y_test, y_predicted)


print("R squer =", r2)
print("mean_squared_error =", mean_squared_error)

R squer = 0.8930646670948288
mean_squared_error = 14018116029.025202

## Final discution

#### I found some advantages to this notebook. First the. The gradient boosting model gives good metrics. The mean square of this model is .89 which is the good one for financial machine learning results. In addition to that, this model is deficient since the hyperparameters tuning and training model is not consume a lot of time and computational power. I changed a lot of ti find the best one. However, there are some drawbacks there was no good explanation about collecting some numbers for this data set. For instance, there is no explanation about the reason why bathrooms have continuous numbers. But fortunately, it does not make any problems for predicting. Also, some features need some feature engineering to get used such as the year of building and year of renovation so by date I calculate the age of the property and age of renovation in this way these features became more meaning full. One problem that still is tuning and training the MLP model. I took a lot of time and still does not get the result, this could be the problem related to complexity and lack of computational power in other words, this model is not the good choice for this data set.  I think the bias and variance are balanced enough as a result of the metrics we see. Overall, I think this model and the way the featured engineer and the hyperparameters tune is efficient enough to give a good result and the company now knows how they can trust the prediction of the model which solves their problem.

## Refrence

##### kaggle.com. (n.d.). House_Regression_Project. [online] Available at: https://www.kaggle.com/code/lunamcbride24/house-regression-project [Accessed 20 Jun. 2022].

#### scikit-learn. (n.d.). Gradient Boosting regression. [online] Available at: https://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_regression.html.